name: Translate Readme

on:
    push:
        branches: ['test']

jobs:
    translate:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
              with:
                fetch-depth: 3

            - name: Auto Translate
              uses: Lin-jun-xiang/action-translate-readme@v1
              with:
                token: ${{ secrets.Action_Bot }}
